@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 10svh;
}

::selection {
    color: #000;
    background-color: var(--acc-color);
}

:root {
    --bg-color: #272727;
    --acc-color: #c4b4a1;
}

body {
    background-color: #272727;
    background-position: center;
    background-size: cover;
}

header {
    margin: 5px;
    background-color: var(--acc-color);
    display: flex;
    height: min-content;
    justify-content: flex-start;
    align-items: flex-start;
    border: 5px solid #000;
    border-radius: 20px;
    padding: 0 5px;
    position: sticky;
    top: 5px;
    z-index: 1;
}

#logo {
    height: min(15vh, 15vw);
    mix-blend-mode: multiply;
    margin-right: 10px;
}

#name {
    letter-spacing: 1px;
    font-size: 1.4em;
    align-self: center;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 960px;
}


#form {
    background: transparent;
    backdrop-filter: blur(20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 20px;
    order: 3;
}

#form h2 {
    color: #FFF;
    letter-spacing: 1px;
}

#form * {
    color: #FFF;
}

#form input, select, textarea {
    margin: 5px;
    border: 1px solid #c4b4a1;
    border-radius: 4px;
    padding: 5px;
    background-color: #272727;
    outline: none;
}

#form input[type="radio"] {
    font: inherit;
    color: currentColor;
    width: 0.75em;
    height: 0.75em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    margin-right: 5px;
}

#form option {
    width: 100px;
    margin: 5px;
    border-radius: 4px;
}

#form option:checked {
    color: black;
    background-color: #c4b4a1;
}

#form input[type="submit"]:hover {
    color: black;
    background-color: #c4b4a1;
}
