@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 10svh;
}

::selection {
    color: #000;
    background-color: var(--acc-color);
}

:root {
    --bg-color: #272727;
    --acc-color: #c4b4a1;
}

body {
    background-color: #272727;
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
}

header {
    margin: 5px;
    margin-top: 0;
    background-color: var(--acc-color);
    display: flex;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 0 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo {
    width: 10vw;
    mix-blend-mode: multiply;
    margin-right: 10px;
}

#name {
    letter-spacing: 1px;
    font-size: 4vw;
    align-self: center;
    font-weight: 400;
    color: #272727;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
}


#form {
    background: transparent;
    backdrop-filter: blur(20px);
    margin: 10px auto;
    padding: 10px;
    border: 3px solid #FFF;
    border-radius: 20px;
    order: 3;
    width: max-content;
    min-width: 30dvw;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    display: flex;
    flex-direction: column;
}

.err_desc {
    color: #FF0000 !important;
}

#chkbox-label, .radio-gender {
    flex-direction: row;
}

#form h2 {
    font-size: 22pt;
    color: #FFF;
    font-weight: 500;
}

#form * {
    color: #FFF;
}

#form input, select, textarea {
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    background-color: #272727;
    outline: none;
    color: #808080;
}

#form input[type="radio"] {
    font: inherit;
    color: currentColor;
    width: 0.75em;
    height: 0.75em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    margin-right: 5px;
}

#form option {
    width: 100px;
    margin: 5px;
    border-radius: 4px;
}

#form option:checked {
    color: black;
    background-color: #c4b4a1;
}

#form input[type="submit"]:hover {
    color: black;
    background-color: #c4b4a1;
}
